<footer class="fo">
        <div class="k1 mt-3">
            <h5> ABOUT EXTENSION </h5>
            <p> About </p>
            <p> Leadership </p>
            <p> Careers </p>
            <p> Extenion News </p>
            <p> Press </p>
            <p> County Offices </p>
        </div>
        <div class="k2 mt-3">
            <h5>CUSTOMER SERVICE</h5>            
                <p> Help Center </p>
                <p> Login Pronlems </p>
                <p> Manage Email Preferences </p>
                <p> Contact Us </p>
        </div>
        <div class="k3 mt-3"> 
            <h5> OTHER PROGRAMS </h5>
                <p> Pennsylvania 4-H </p>
                <p> Better Kid Care </p>
                <p> Master Gardeners </p>
        </div>
</footer>
