<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<main>
    <div class="can">
        <div class="cc1 col-8 offset-2 mt-3">
            <div class="c1">
                <i class="fa-solid fa-location-dot"></i>
                <p class="fw-bold"> OUR MAIN OFFICE </p>
                <p> Ajit Road Bathinda </p>
            </div>
            <div class="c2">
                <i class="fa-solid fa-phone"></i>
                <p class="fw-bold"> PHONE NUMBER </p>
                <p> +3246 345 223</p>
                <p> 6543 534 345<br>(Toll Free) </p>
            </div>
            <div class="c3">
                <i class="fa-solid fa-fax"></i>
                <p class="fw-bold"> FAX </p>
                <p> 1-4532 89004 </p>
            </div>
            <div class="c4">
                <i class="fa-solid fa-envelope"></i>
                <p class="fw-bold"> EMAIL </p>
                <p>abc.@gmail.com</p>
            </div>
        </div>

    <div>
        <form class="cc2  col-3 offset-3 ">
            <p class="c5"> Contact Us </p>
            <input placeholder="Enter Your name" name="name" class="form-control" required><br>
            <input placeholder=" Enter Your Email Address" name="email" class="form-control" required><br>
            <input class="form-control">
            <button class="btn btn-outline-dark col-5 offset-4 mt-2"> Submit </button> 
        </form>
    </div>
    </div>
</main>