<% layout('layouts/boilerplate.ejs') %>

<div class="ab1 col-6 offset-3 mt-5">
    <h3 class="offset-2"> Sign Up </h3>
<form method="post" action="/signup" class="col-8 mt-3 offset-2"  >
    <input placeholder="enter your username" name="username" class="form-control" required><br>
    <input placeholder="enter your password" name="password" class="form-control" required><br>
    <button class="btn btn-dark col-12" > Sign Up </button>
</form>
</div>