body{
    background-color:rgb(245, 249, 249);
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    height: 10%;
    background-color: #fff;
    color: white;
    border-bottom: 0.5px solid black;
}
.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navbar-nav> a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}

table,thead,tbody,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}
thead{
    background-color: rgb(14, 32, 37);
    color: #fff;
    font-weight: 550;
}

form{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1.5px 4px rgb(81, 78, 78);
}

#a1{
    background-color:rgb(219, 230, 229);
    padding: 0px;
    box-shadow: none;
    margin-left: 20px;
}

.btns{
    display: flex;
    align-items: center;
}

h2{
    margin: 4px;
    padding: 10px;
}

.ab1{
    background-color: rgb(185, 188, 188);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 4px rgb(81, 78, 78);
}
img{
    height: 100px;
    width: 300px;
}
.ab5{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: burlywood;
}
.ab6{
    font-size: 40px;
}
.ab8{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: burlywood;
}
.ab9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:white;
    color: black;
}
.ab11{
    height: 40%;
    width: 40%;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 3px 2px 4px rgb(81, 78, 78);
    margin-top: 50px !important;
}

.ab13{
    font-size: 40px;
    align-items: baseline;
    justify-content: center;
}

.cc1{
    display: flex;
    position: relative;
    z-index: 1;
    color: black;
}
.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin:  15px;
    background-color: rgb(185, 188, 188);
}
.c2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 15px;
    background-color: rgb(185, 188, 188);
}
.c3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    background-color: rgb(185, 188, 188);
}

.c4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    background-color: rgb(185, 188, 188);
}
.c5{
    font-size: 50px;
    padding: 5px;
    align-items: center;
     color: rgb(12, 41, 43);
}
.cc2{
    height: 400px;
    width: 600px;
    position: relative;
    margin-top:-30px;
    
}
.c6{
    border: none;
}

.d1{
     height: 100%;
     width: 50vw;
     align-items: center;
     justify-content: center;
     background-color: #49949c;
}
.man{
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;

}
.dd1{
    font-size: 40px;
}
.dd5{
    font-size: 40px;
}
.d2{
    height: 100%;   
    width: 50vw;
}
.cd{
        margin: 15px;
        padding: 10px;
}
main{
    flex: 1;
}
.fo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: aliceblue;
}
.km1{
    margin-top: 4px;
   
}
.km2{
    margin-top: 3px;
}
.km3{
    margin-top: 2px;
}

#p1{
    height: 70vh;
    width: 60%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

#p2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.eye{
    position: relative;
    display: flex;
}

.eye_btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}